<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    
    <section>
        
        <div class="card ml-3 mr-3 mb-1">
            <h2 class="card-header text-center"> Add Contact </h2>
            <div class="card-body">
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form action=""
                                th:object="${contact}"
                                enctype="multipart/form-data"
                                method="post"
                                th:action="@{/user/process-contact}"
                                class="mt-2"
                            >
                            <!-- First name -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus">
    
                                        </i>
                                    </div>
                                </div>
                                <input type="text" id="firstName" name="name" placeholder="Enter Name Here" class="form-control" style="width: 100vh">
                            </div>
    
                            <!-- Second Name -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt">
    
                                        </i>
                                    </div>
                                </div>
                                <input type="text" id="secondName" name="secondName" placeholder="Enter Nick Name Here" class="form-control">
                            </div>
    
                            <!-- Email -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-at"></i>
                                    </div>
                                </div>
                                <input type="email" id="email" name="email" placeholder="Enter Email Here" class="form-control">
                            </div>
                            <!-- Phone -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-phone"></i>
    
                                    </div>
                                </div>
                                <input type="number" id="phone" name="phone" placeholder="Enter Phone Here" class="form-control">
                            </div>
                             <!-- Work -->
                             <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                </div>
                                <input type="text" id="work" name="work" placeholder="Enter Work Here" class="form-control">
                            </div>
                            <!-- Description -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-comment"></i>
                                    </div>
                                </div>
                                <textarea type="text" id="description" name="description" placeholder="Enter Description Here" class="form-control" rows="10" cols="10"></textarea>
                            </div>
                            <div class="custom-file mt-2">
                                <input type="file" name="profileImage">
                            </div>

    
                            <div class="container text-center">
                                <button class="btn btn-outline-primary">
                                    Save
                                </button>
                            </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>