<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <section>
        <div class="card mr-3 ml-3 my-table">
          <div th:if="${session.message}" th:classappend="'alert-'+${session.message.type}" class="text-center" role="alert">
                <p th:text="${session.message.content}"></p>    
            </div>
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
          
            <div class="card-body">
                <h1 class="text-center">
                    Your Contacts
                </h1>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="c : ${contacts}">

                        <td th:text="${'SCM'+c.cId}"></td>

                        <td>
                          <img src="" 
                          th:src="@{'/img/'+${c.image}}"
                          class="my_profile_picture"
                          alt="profile photo">
                          <span th:text="${c.name}">
                          </span>
                        </td>

                        <td th:text="${c.email}"></td>

                        <td th:text="${c.phone}"></td>

                        <td class="d-flex">
                            <a href="" class="btn btn-danger btn-sm"
                            th:onclick="|deleteContact(${c.cId})|">
                              Delete</a>
                            <form  method="post"
                            th:action="@{'/user/update-contact/'+${c.cId}}" class="">
                              <button type="submit" class="btn btn-success btn-sm ml-1">Update</button>
                            </form>
                            <a 
                            th:href="@{'/user/'+${c.cId}+'/contact/'}"
                            >
                              <button class="btn btn-info btn-sm ml-1">
                                  View
                                </button>
                            </a>
                            </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li th:if="${currentPage!=0}"
                      class="page-item"><a class="page-link" href="#"
                      th:href="@{'/user/show-contacts/'+${currentPage-1}}"
                      >Previous</a></li>

                      <li th:each="i: ${#numbers.sequence(1,totalPages)}"
                      class="page-item"
                      th:classapped="${currentPage==i-1}?'active':''"
                      >
                      <a class="page-link" href="#"
                      th:href="@{'/user/show-contacts/'+${i-1}}"
                      >
                          <span th:text="${i}"></span>
                      </a></li>
                      <li th:if="${currentPage+1 != totalPages}"
                      class="page-item">
                      <a class="page-link" href="#"
                      th:href="@{'/user/show-contacts/'+${currentPage+1}}"
                      >Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </section>
</body>
</html>